.layout{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: 60px;
  border: 1px dashed #DDD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.layoutBody{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sideMenu{
  height: 100%;
  width: 160px;
  border: 1px dashed #DDD;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: #999;
  .menu{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    // transition: .5s all;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &::after{
      content: '\20';
      z-index: -1;
      position: absolute;
      transition: .5s all;
      transform: scale(0);
      transform-origin: center center;
      top: 50%;
      left: 50%;
      margin-left: -100px;
      margin-top: -80px;
      width: 200px;
      height: 160px;
      border-radius: 50%;
    }
    &:hover::after{
      transform: scale(1);
      background: #F2f2f2;
    }
    &.active{
      background: #F2f2f2;
    }
  }
}

.pageBody{
  flex: 1;
  position: relative;
  // padding: 10px;
}